*{
    margin:0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

h2{
    font-size: 30px;
}

.header{
    background: #21c08b;
}

.header img{
    width: 200px;
    padding: 15px 0px 0px 15px;
}

.error{
    background: linear-gradient(#21c08b,#ab88ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    min-height: 100vh;

}

.heart{
    font-size: 90px;
    animation:heart;
    animation-duration: 450ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 200ms
}

@keyframes heart{
    0%{
        font-size: 50px;

    }
    100%{
        font-size: 150px;
    }
}


.subtitle p{
    font-size: 20px;

}

.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #ab88ff
}

.footer a {
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
    cursor: pointer;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:600px){
    .footer{
        align-items: flex-start;
        flex-direction: column;
    }

}